.tituloMac{
    flex: auto;
    width: auto;
    height: auto;
    margin-top: 120px;
    font-family: 'Philosopher', sans-serif;
    

}
.titulo1Mac{
    width: 60%;
    align-items: center;
    margin: auto;
    text-align: center;
    
}
.titulo1Mac h1{
    font-size: 80px;
    color:#865551;
    align-items: center;
    
}
.titulo1Mac p{
    font-size: 20px;
    align-items: center;
    color: #865551;
    margin-top: 0px;
}