


.titulonov{
    flex: auto;
    width: auto;
    height: auto;
    margin-bottom: 0px;
    margin-top: 90px;


}
.titulonov1{
    width: 60%;
    align-items: center;
    margin: auto;
    text-align: center;
    
}
.titulonov1 h1{
    font-family: 'Philosopher', sans-serif;
    font-size: 3.75rem;
    color:#865551;
    align-items: center;
    
}
.titulonov1 p{
    font-family: 'Philosopher', sans-serif;
    font-size: 1.25rem;
    align-items: center;
    color: #865551;
    margin-top: -40px;
}