



.catitulo{
    margin-top: 90px;
    flex: auto;
    width: auto;
    height: auto;
    
    
    

}
.catitulo1{
    width: 60%;
    align-items: center;
    margin: auto;
    text-align: center;
    
}
.catitulo1 h1{
    font-family: 'Philosopher', sans-serif;
    font-size: 3.75rem;
    color: #865551;
    align-items: center;
    
}
.catitulo1 p{
    font-size: 1.25rem;
    align-items: center;
    color: #865551;
    margin-top: -40px;
    
}