.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.search-container input {
    width: 100%;
    max-width: 400px;
    
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.125rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.search-container button {
    font-family: 'Philosopher', sans-serif;
    width: 20%;
    max-width: 150px;
    padding: 6px;
    font-size: 1.125rem;
    color: #fff;
    background-color: #865551;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.search-container button:hover {
    background-color: #841818;
}

@media (min-width: 600px) {
    .search-container {
        flex-direction: row;
    }

    .search-container input {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .search-container button {
        max-width: 150px;
    }
}
